/**********************************************/
/*** 		CSS for librarie -> DTraz   	***/
/***          Moisés Alcocer, 2015          ***/
/**********************************************/

/* colores */
.cblack         { color: black;     }
.cblue          { color: blue;      }
    .clightblue { color: lightblue; }
    .cdarkblue  { color: darkblue;  }
    .cskyblue   { color: skyblue;   } /* Azul cielo */
.cbrown         { color: brown;     }
.fuchsia		{ color: fuchsia;	}
.cgolden        { color: golden;    }
.cgreen         { color: #00CE34;   }
.cgrey          { color: grey;      }
    .clighgrey  { color: lighgrey;  }
    .cdarkgrey  { color: darkgrey;  }
.civory         { color: ivory;     }
.clime			{ color: lime;     	}
.cnavy          { color: navy;      }
.olive			{ color: olive;		}
.corange        { color: orange;    }
.cpink          { color: pink;      }
.cred           { color: red;       }
.csilver        { color: silver;    }
.cviolet        { color: violet;    }
.cwhite         { color: white;     }
.cyellow        { color: yellow;    }


.coment,
.traza {
	font-family: arial;
    font-weight: bold; 
}
.coment {
    font-style: italic;
}